<% form_for @user, :html => { :id => "account" } do |f| %>
	<div id="user_details" class="details">
		<div class="title">Account Details</div>
		<div class="body">
			<%= f.label :first_name %>
			<%= f.text_field :first_name, :class => "field" %>
			<%= f.label :last_name %>
			<%= f.text_field :last_name, :class => "field" %>
			<%= f.label :email %>
			<%= f.text_field :email, :class => "field" %>
			<%= f.label :password %>
			<%= f.password_field :password, :class => "field" %>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, :class => "field" %>
			<div class="row">
				<%= f.submit "Update", :class => "submit" %>
				<div class="button" onclick="hideElement('account');">Cancel</div>
			</div>
		</div>
	</div>
	<div id="twitter_details" class="details">
		<div class="title">Twitter Settings</div>
		<div class="body">
			<%= f.label :twitter_consumer_key %>
			<%= f.text_field :twitter_consumer_key, :class => "field" %>
			<%= f.label :twitter_consumer_secret %>
			<%= f.text_field :twitter_consumer_secret, :class => "field" %>
			<%= f.label :twitter_oauth_token %>
			<%= f.text_field :twitter_oauth_token, :class => "field" %>
			<%= f.label :twitter_oauth_secret %>
			<%= f.text_field :twitter_oauth_secret, :class => "field" %>
		</div>
	</div>
<% end %>