<tr id="tweet_<%= tweet.id %>">
	<td class="text"><%= tweet.text %></td>
	<td class="user"><%= tweet.from_user %></td>
	<td class="location"><%= tweet.location %></td>
	<td class="date"><%= tweet.created_at %></td>
</tr>