<tr id="tweet_<%= tweet.id %>">
	<td>
		<% remote_form_for(tweet) do |f| %>
			<%= f.text_field :relevance %>
			<%= f.submit "Update" %>
		<% end %>
	</td>
	<td><%= tweet.text %></td>
	<td><%= tweet.user %></td>
	<td><%= tweet.location %></td>
	<td><%= tweet.tweet_created_at.strftime("%Y-%m-%d") %></td>
</tr>