<%= render :partial => "shared/searchbar" %>

<div id="notice">
	<%= flash[:notice] %>
</div>
<div id="error">
	<%= flash[:error] %>
</div>

<div id="queries">
	<div id="query_main">
		<h1 id="query_main_title">Event Queries (<%= @queries.length %>)<div id="new_query_button" onclick="toggleNewQueryForm()">Add an Event +</div></h1>
		
		<%= render :partial => "new_query_form" %>
		
		<div id="query_main_header">
			<div class="header tweets"></div>
			<div class="header text">Text</div>
			<div class="header date">Date</div>
			<div class="header location">Location</div>
		</div>
		
		<div id="query_main_body">
			<% for @query in @queries %>
				<%= render( :partial => "query", :object => @query ) %>
			<% end %>
		</div>
	</div>
	
	<div id="query_tweets">
		<%= render( :partial => "query_tweets", :object => @tweets ) %>
	</div>
</div>